<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.taxhelper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".CustomerHome" />
        <activity android:name=".AdminHome" />
        <activity android:name=".CustomerProfile" />
        <activity android:name=".TaxCalculatorPage" />
        <activity android:name=".TaxSlabPage" />
        <activity android:name=".ITreturnPage" />
        <activity android:name=".SettingsPage" />
        <activity android:name=".LinksPage" />
        <activity android:name=".TaxSlab1" />
        <activity android:name=".TaxSlab2" />
        <activity android:name=".TaxSlab3" />
        <activity android:name=".TaxSlab4" />
        <activity android:name=".TaxSlab5" />
        <activity android:name=".TaxSlab6" />
        <activity android:name=".TaxSlab7" />
        <activity android:name=".TaxSlab8" />
        <activity android:name=".TaxSlab9" />
        <activity android:name=".UpdatePersonalInfoPage" />
        <activity android:name=".UpdateITreturnDetailsPage" />
        <activity android:name=".ChangePasswordPage" />
        <activity android:name=".Users"></activity>
    </application>

</manifest>